body {
    background-color: #616161;
    font-family: 'Inter', sans-serif;
}

.navbar {
    background-color: #212529;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    padding: 15px 5%;
}

.logo {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #ffc800;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
}

.btn-back {
    color: #fff;
    border: 2px solid #ffc800;
    background-color: transparent;
    transition: all 0.3s ease;
}

.btn-back:hover, .btn-login:focus {
    background-color: #ffc800;
    border-color: #ffc800;
    color: #212529;
}


/* Clase nueva para controlar el panel de la izquierda */
.panel-reserva {
    height: calc(100vh - 120px);
    overflow-y: auto;
}

/* Contenedor del SVG */
.contenedor-mapa {
    background: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    margin-top: 0;
    text-align: center;
    position: relative;
    height: calc(100vh - 120px); /* Misma altura que el panel izquierdo */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Ajuste del SVG para que respete el tamaño del contenedor */
#mapa-svg {
    width: 100%;
    max-width: 100%;
    max-height: 100%; /* Evita que el mapa rompa la pantalla hacia abajo */
    border-radius: 8px;
    /* Quitamos el min-height: 670px porque eso rompía las pantallas pequeñas */
}

.titulo-plaza {
    color: white;
    text-transform: capitalize;
}


@media (max-width: 991px) {
    .panel-reserva,
    .contenedor-mapa {
        height: auto;
        min-height: 50vh;
        overflow-y: visible;
    }

    .contenedor-mapa {
        margin-top: 20px;
        padding: 10px;
    }
}