
html,
body {
    margin: 0;
    height: 100%;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.boton_regreso {
    position: absolute;
    top: 20px;
    left: 50px;
    z-index: 1000;
    background: #2155CF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
.tarjeta_plaza {
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 12px;
    border: 1px solid #ddd;
    bottom: 25px;
    left: -180px;
    width: 300px;
    display: none;
    font-family: 'Inter', sans-serif;
}

.tarjeta_plaza:after, .tarjeta_plaza:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.tarjeta_plaza:after {
    border-top-color: white;
    border-width: 10px;
    margin-left: -10px;
}
.tarjeta_plaza:before {
    border-top-color: #ddd;
    border-width: 11px;
    margin-left: -11px;
}

.boton_cerrar {
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 15px;
    color: #666;
    font-size: 1.2rem;
}

#tarjeta_contenido h3 {
    margin: 0 0 10px 0; color: #333; font-size: 1.2rem;
}
#tarjeta_contenido p {
    margin: 5px 0; font-size: 0.9rem; color: #555;
}
#tarjeta_contenido .dato-resaltado {
    color: #2155CF; font-weight: bold;
}

.boton_accion {
    display: block;
    width: 90%;
    text-align: center;
    background-color: #2155CF;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 15px;
    font-weight: 600;
}